@import "../../.cache/okolors/waybar.css"; /* fckyeah */
* {
  font-family: "Maple Mono NF";
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  border-radius: 15px;
  background: transparent;
  color: @color2;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @color4;
}

tooltip label {
  color: @color3;
}

#workspaces button {
  padding: 5px;
  color: @color2;
  margin-right: 5px;
}

#workspaces button.active {
  color: @color4;
}

#workspaces button.focused {
  color: @color2;
  background: @base;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @color6;
  background: @base;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @base;
  color: @color2;
  border-radius: 10px;
}

#custom-launch_wofi,
#custom-weather,
#custom-myhyprv,
#window,
#clock,
#battery,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
  background: @base;
  padding: 0px 8px;
  margin: 3px;
  border-radius: 15px;
}

#cava #pulseaudio,
#cpu,
#disk,
#custom-updates,
#memory,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile {
  padding: 0px 8px;
  margin: 3px;
  border-radius: 15px;
  opacity: 0.9;
}

#cava {
  padding: 8px 8px;
  margin: 6px;
  border-radius: 15px;
  opacity: 0.9;
}
