/* Mocha Pink */
/*
@define-color accent #DA156D;
@define-color txt #DA156D;
@define-color bg #161616;
@define-color bg2 #1e1e1e;
*/

@import "/home/sweet/.cache/okolors/waybar.css";
/*
@define-color accent #f5bde6;
@define-color txt #F5BDE6;
@define-color bg #161616;
@define-color bg2 #1e1e1e;

@define-color accent @color2;
@define-color txt @color2;
@define-color bg @color3;
@define-color bg2 @base;

*/
* {
  font-family: "Maple Mono NF", monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 3px solid @color2;
  border-radius: 7px;
  background-color: @mantle;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @mantle;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @mantle;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
}

/* Input */
#input {
  margin: 5px;
  padding: 10px;
  border: none;
  color: @color2;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Text */
#text {
  margin: 5px;
  padding: 10px;
  border: none;
  color: @color7;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Selected Entry */
#entry:selected {
  background-color: @mantle;
}

#entry:selected #text {
  color: @color2;
}
